th {
    font-size: 12px;
    padding: 5px 5px !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
}

td {
    font-size: 12px;
    vertical-align: baseline;
    padding: 0 5px !important;
}
